<header>
    <!-- Hero -->
    <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
      <h2><a routerLink="/" class="home-button">📽My Movie Catalog</a></h2>
      <app-search></app-search>
    </div>
    <!-- Hero -->
  </header>

  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Top 10 rated Movies</h1>
  </div>

  <div class="row">
    <div class="col-md-3 col-lg-2" *ngFor="let movie of topRatedMovies">
      <a [routerLink]="['/movie', movie.id]" class="card-link">
        <div class="card mb-4">
          <img class="card-img-top" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie Poster">
          <div class="card-body">
            <h5 class="card-title no-underline">{{ movie.title }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>



